In [5]:
import numpy as np 
import pandas as pd
import time

In [6]:
CITY_DATA = {
    'chicago':'chicago.csv' ,
    'new york city':'new_york_city.csv' , 
    'washington':'washington.csv'
}

In [37]:
def get_filters():
    target_city_name = input("enter the city name which you need to explore its data ").lower()
    while target_city_name not in CITY_DATA.keys():
        target_city_name = input("enter the city name which you need to explore its data ").lower()
    
    months = ['jan' , 'feb' , 'march' , 'april' , 'mat' , 'june' , 'all']
    while True:
        target_month =  input("enter the month which you need to explore its data ").lower()
        if target_month in months :
            break
        else:
            pass
        
    days = ['1' , '2' , '3' , '4' , '5' , '6' , '7','all']
    while True:
        target_day =  input("enter the day which you need to explore its data ").lower()
        if target_day in days :
            break
        else:
            pass   
        
    return target_city_name , target_month , target_day , months

In [38]:
def load_date( target_city_name , target_month , target_day , months:list ) :
    df  = pd.read_csv(CITY_DATA[target_city_name])
    
    df['Start Time']  = pd.to_datetime(df['Start Time'])
    df['month'] = df['Start Time'].dt.month
    df['day of week'] = df['Start Time'].dt.dayofweek
    df['start hour'] = df['Start Time'].dt.hour
    
    if target_month != 'all':
        month  = months.index(target_month)+1
        df[df[month] == month]
        
    if target_day != 'all':
        df[df['day of week'] == target_day]
    
    return df

In [39]:
def time_stats( df :pd.DataFrame ):
    start_time = time.time()
    print('\n  Most common month {} '.format(df['month'].mode()[0]))
    print('Most common dat {}'.format(df['day of week'].mode()[0]))
    print('Most common hour {}'.format(df['start hour'].mode()[0]))
    
    print('process time is  = {}'.format(time.time() - start_time))

In [40]:
def station_status( df  :pd.DataFrame ):
    start_time = time.time()
    print('\n Most common start station : {} '.format(df['Start Station'].mode()[0]))
    print('Most common end station {}'.format(df['End Station'].mode()[0]))
    df['route'] = df['Start Station']+' , '+df['End Station']
    
    print('Most common route {}'.format(df['route'].mode()[0]))
    
    print('process time is  = {}'.format(time.time() - start_time))

In [41]:
def trip_duration_time( df  :pd.DataFrame ):
    start_time = time.time()
    print('\n total time : {} '.format((df['Trip Duration'].sum()).round()))
    print('avarge time  {}'.format((df['Trip Duration'].mean()).round()))
    
    
    print('process time is  = {}'.format(time.time() - start_time))

In [42]:
def user_stats( df : pd.DataFrame , city):
    start_time = time.time()
    print('\n', df['User Type'].value_counts().to_frame() )
    
    if  city != 'washington':
        print( df['Gender'].value_counts().to_frame() )
        print('Most common year {}'.format(df['Birth Year'].mode()[0]))
        print('Max  year {}'.format(df['Birth Year'].max()))
        print('Min year {}'.format(df['Birth Year'].min()))
    print('process time is  = {}'.format(time.time() - start_time))

In [43]:
months = ['jan' , 'feb' , 'march' , 'april' , 'mat' , 'june' , 'all']
df = load_date( 'chicago' ,'all' , 'all' , months )
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day of week,start hour
0,1423854,2017-06-23 15:09:00,6/23/2017 15:14,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,4,15
1,955915,2017-05-25 18:19:00,5/25/2017 18:45,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,5,3,18
2,9031,2017-01-04 08:27:00,1/4/2017 8:34,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8
3,304487,2017-03-06 13:49:00,3/6/2017 13:55,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,3,0,13
4,45207,2017-01-17 14:53:00,1/17/2017 15:02,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1,14

In [44]:
time_stats(df)

  Most common month 6
Most common dat 1
Most common hour 17
process time is  = 0.012964487075805664

In [47]:
station_status(df)

 Most common start station : Streeter Dr & Grand Ave
Most common end station Streeter Dr & Grand Ave
Most common route Lake Shore Dr & Monroe St , Streeter Dr & Grand Ave
process time is  = 0.6751503944396973

In [45]:
trip_duration_time(df)

 total time : 280871787
avarge time  936.0
process time is  = 0.0009987354278564453

In [46]:
user_stats(df , 'chicago')

              count
User Type
Subscriber  238889
Customer     61110
Dependent        1
         count
Gender
Male    181190
Female   57758
Most common year 1989.0
Max  year 2016.0
Min year 1899.0
process time is  = 0.08078169822692871